<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the Homepage</h1>
    <div>
        <a href="/products">Display All Products</a>
    </div>
    <div>
        <a href="/products/">Add Product</a>
    </div>
    <div>
        <a href="/products/my">Get My Products</a>
    </div>
</body>
</html>
